[io-article-preview], io-article-preview {
  .article {
    font-family: Georgia, serif;
    margin: 0;
    padding: @padding * 2;

    &:active {
      background-color: @white;
    }
    
    & > .content {
      max-height: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}