[io-article-preview], io-article-preview {
  .loading {
    font-size: 150%;
    line-height: 150%;
    text-align: center;
  }

  .article {
    margin: 0;
    padding: @padding * 2;



    &:active {
      background-color: @white;
    }
    
    p {
      max-width: 800px;
    }
  }
}