.FeedListCtrl {
  @feedName: @grayLighter;
  @feedNameSelected: @gray;
  @feedNameHover: @white;

  padding-top: 0;
  background-color: @gray;
  .row-fluid {
    display: -webkit-box;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .article-preview-container {
    -webkit-box-flex: 2;
    top: 0;
    bottom: 0;
    max-height: 100%;
    overflow: auto;
  }

  .feed-list {
    -webkit-box-flex: 1;
    width: 50%;

    .feed-box {
      display: block;
      height: 48px;
      padding: @padding @padding / 2;
      margin: 0;

      &.selected, &.selected:hover {
        background-color:@grayLight;
        .name {
          color: @feedNameSelected;
        }
      }

      &:active {
        background-color: @grayLight;
        .name {
          color: @feedNameHover;
        }
      }

      &:hover {
        background-color: fadeout(@black, 90%);
        .name {
          color: fadeout(@grayLighter, 25%);
        }
      }

      img {
        float: left; 
        width: 48px;
        height: 48px;
        margin-right: @padding;
      }

      .name {
        color: @feedName;
        font-weight: bold;
        line-height: 48px;
        font-size: 36px;
      }
    }

    .add-feed {
      &.expanded {
        background-color: @grayLight;
      }
      .icon-plus {
        color: ;
      }
      .name {
        font-size: 24px;  
      }
      
    }
  }

}
