.FeedListCtrl {
  padding-top: 0;
  .row-fluid {
    background-color: @gray;
    height: 100%;
  }
  

  .feed-list {
    .feed-box {
      display: block;
      height: 48px;
      padding: @padding @padding / 2;
      margin: 0 @padding;

      &:hover {
        .name {
          color: @grayLight;
        }
      }

      &:active {
        background-color: @grayLight;
        .name {
          color: @white;
        }
      }

      img {
        float: left; 
        width: 48px;
        height: 48px;
        margin-right: @padding;
      }

      .name {
        color: @grayLighter;
        font-weight: bold;
        line-height: 48px;
        font-size: 36px;
      }
    }  
  }

}
