io-add-feed-form {
  .add-feed {
    color: @gray;
    cursor: pointer;
    background: @grayLighter;
    font-family: @metaFont;
    padding: @padding;

    .icon-plus {
      color: @gray;
    }
    .name {
      font-size: 24px;  
    }
  }
  .add-feed-form {
    h4 {
      margin-top: 0;
    }
    padding: @padding;
    background-color: @grayLighter;
    font-family: @metaFont;
  }
}