@import "../../node_modules/bootstrap/less/bootstrap";

@padding: 15px;
@bannerHeight: 75px;

html, body {
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  font-family: Georgia, serif;
}

body {
  padding-top: @bannerHeight;
}


.slide-left-enter-setup, .slide-left-leave-setup,
.slide-right-enter-setup, .slide-right-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  position: absolute;
}


.slide-right-enter-setup { left: 100%; }
.slide-right-enter-start { left: 0; }

.slide-right-leave-setup { left: 0; }
.slide-right-leave-start { left: 100%; }


.slide-left-enter-setup  { left: -100%; }
.slide-left-enter-start  { left: 0; }

.slide-left-leave-setup  { left: 0; }
.slide-left-leave-start  { left: -100%; }

.container {
  height: 100%;
  width:100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.page {
  height: 100%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.loading-placeholder {
  width: 100%;
  height: 100%;
}

.banner {
  position: fixed;
  top:0;
  height: @bannerHeight;
  width: 100%;
  padding-left: @padding;
  text-align: left;
  background-color: @grayLighter;
  
  .title {
    margin:@padding 0 @padding / 4;
    line-height: 100%;
    font-size: 150%;
    color: @gray;

    &.loading, &.no-subtitle {
      line-height: @bannerHeight;
      margin: 0;
    }
  }
  .url {
    font-size:100%;
    color: @grayLight;
  }
  
  
}

@import "feed-list";
@import "article-preview";
@import "carousel";

.slide-enter-setup, .slide-leave-setup {
  -webkit-transition:all linear .3s;
}

.slide-left-enter-setup, .slide-left-leave-setup,
.slide-right-enter-setup, .slide-right-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  position: absolute;
}


/*.slide-right-enter-setup { margin-left: 300px;  opacity: 0; }
.slide-right-enter-start { margin-left: 0;      opacity: 1; }

.slide-right-leave-setup { margin-left: 0;      opacity: 1; }
.slide-right-leave-start { margin-left: 300px;  opacity: 0; }


.slide-left-enter-setup  { margin-left: -300px; opacity: 0; }
.slide-left-enter-start  { margin-left: 0;      opacity: 1; }

.slide-left-leave-setup  { margin-left: 0;      opacity: 1; }
.slide-left-leave-start  { margin-left: -300px; opacity: 0; }*/