@import "../../node_modules/bootstrap/less/bootstrap";

@padding: 15px;
@bannerHeight: 75px;

html, body {
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

body {
  padding-top: @bannerHeight;
}

.container {
  height: 100%;
  width:100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.page {
  height: 100%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.loading-placeholder {
  width: 100%;
  height: 100%;
}

.banner {
  position: fixed;
  top:0;
  height: @bannerHeight;
  width: 100%;
  padding-left: @padding;
  text-align: left;
  background-color: @grayLighter;
  
  .title {
    margin:@padding 0 @padding / 4;
    line-height: 100%;
    font-size: 150%;
    color: @gray;

    &.loading, &.no-subtitle {
      line-height: @bannerHeight;
      margin: 0;
    }
  }
  .url {
    font-size:100%;
    color: @grayLight;
  }
  
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

@import "feed-list";
@import "article-preview";
@import "carousel";