<div class="box-row feed-list-page" ng-animate=" 'page' " ng-show="activeFeed">
  <div class="column">
    <div class="feed-list">
      <span ng-repeat="feed in feeds" ng-click="showFeed(feed)" class="feed-box"
            ng-class="{selected: feed.name == activeFeed}"
            ng-swipe-left="showDelete = true"
            ng-swipe-right="showDelete = false">
        <span class="pull-right" ng-show="showDelete">
          <button class="btn btn-danger pull-right" ng-animate="delete" ng-click="deleteFeed(feed.name)">Delete</button>
        </span>
        
        <img ng-src="{{ feed.icon }}">
        <span class="name" ng-bind="feed.name"></span>
      </span>
    </div>

    <io-add-feed-form></io-add-feed-form>

  </div>
  <div class="column article-preview-container">
    <io-article-preview></io-acticle-preview>
  </div>
</div>
