<!--<div class="row-fluid feed-list" follow-swipe>-->
<div class="row-fluid">
  <div class="feed-list" solo-active-list>
    <span ng-repeat="feed in feeds" solo-active-item  class="feed-box"
          ng-swipe-left="showDelete = true"
          ng-swipe-right="showDelete = false">
      <span class="pull-right" ng-show="showDelete">
        <button class="btn btn-danger pull-right" ng-animate="delete" ng-click="deleteFeed(feed.name)">Delete</button>
      </span>
      
      <img ng-src="{{ feed.icon }}">
      <span class="name" ng-bind="feed.name"></span>
    </span>

    <div ng-show="!newFeed" class="add-feed feed-box" ng-click="newFeed = {}">
      <span class="name">
        <i class="icon-plus"></i>
        Add Atom Feed
      </span>
    </div>
    
    <div ng-show="newFeed" class="feed-box add-feed-form">
      <form ng-submit="saveFeed()">
        <input required ng-model="newFeed.name" placeholder="Feed Name">
        <input required ng-model="newFeed.href" placeholder="Feed URL" ng-pattern="">
        <input type="hidden" ng-model="newFeed.icon" value="/img/rss.png">
        <input type="submit" value="Save"> | 
        <a ng-click="newFeed = undefined">Cancel</a>
      </form>
    </div>
  </div>
  <div class="article-preview-container" ng-show="activeFeed">
    <io-article-preview></io-acticle-preview>
  </div>
</div>
