<div ng-carousel="page in pages" style="height: 100%">
  <div class="page">
    <div class="article scrollable" style="height:1000px; width:320px;" g-set-height>
      <div class="body" ng-bind-html="page.content"></div>
    </div>
  </div>
</div>
<div class="loading-placeholder" spinner style="position:fixed; top:0;" ng-show="!pages.length"></div>
<div class="banner">
  <h3 class="title" ng-bind="feed.title" ng-class="{loading: !pages.length}"></h3>
  <a class="url" target="_blank" href="{{feed.url}}" ng-bind="feed.url"></a>
</div>